@use "../../../scss/variables" as v;

.who-can-manage-projects {
  margin-top: 32px;

  h3 {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  p {
    margin-bottom: 32px;
    color: #5f5f5f;
    font-size: 14px;
    }

  .options {
    display: flex;
    flex-wrap: wrap;

    .option {
      width: 100%;
      padding: 16px;
      display: flex;
      transition: background-color 0.2s ease-in-out;
      align-items: center;
      column-gap: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #f5f5f5;
      
      svg {
        font-size: 30px;
      }

      .option-content {
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
      }

      &.selected {
        background-color: v.$white;
        border: 2px solid v.$cobalt;
      }

      input[type="radio"] {
        display: none;
      }

      label {
        display: flex;
        align-items: center;
        font-size: 13px;
        font-weight: bold;
        margin-bottom: 16px;
      }

      p {
        margin-bottom: 0;
        color: #5f5f5f;
        font-size: 12px;
        line-height: 19px
      }
    }
  }
}