@use "../../../scss/variables" as v;

.form-one form .client-fields .add-client-form {
  position: absolute;
  background: #a9a9a9;
  border-radius: 10px;
  padding: 2% 8% 6%;
  z-index: 3;

  label {
    color: #fff;
    text-align: center;
  }

  button {
    padding: 7px 10px;
    background-color: #faebd7;
    color: v.$black;
    font-size: 10px;

    &:hover {
      background-color: v.$cobalt;
    }
  }

  .client-error {
    bottom: -8%;
  }

  .close-icon {
    color: v.$white;
  }
}