@use "../../../../scss/variables" as v;
.form-container {
  .form-row {
    display: flex;
    column-gap: 40px;
  }

  h3,.back-to-login {
    color: #6495ed;
  }

  .back-to-login {
    position: absolute;
    bottom: -8%;
    left: 0;
    text-decoration: none;
  }

  .form-section-title {
    margin-bottom: 15px;
  }

  .right-icon-btn {
    padding-top: 4px;
    border: none;
    border-radius: 5px;
    background-color: #7b68ee;

    svg {
      color: #fff;
      font-size: 21px;
    }
  }

  .document-field-content {
    margin-bottom: 15px;
    display: flex;
    column-gap: 20px;
    position: relative;

    .red-cross {
      position: absolute;
      right: 10%;
      top: 27%;
      color: red;
      font-size: 15px;
    }
  }

  .brand-type-section {
    position: relative;
    label {
      display: flex;
      align-items: center;
      column-gap: 10px;

      svg {
        &:hover + .hover-pop-up {
          visibility: visible;
        }
      }
    }

    .hover-pop-up {
      width: 100%;
      padding: 10px;
      position: absolute;
      top: 0%;
      right: -50%;
      display: flex;
      visibility: hidden;
      flex-direction: column;
      row-gap: 20px;
      background-color:rgba(0, 0, 0, 0.8);;
      color: #fff;
      font-size: 14px;
      line-height: 25px;
    }
  }
}