.create-account-container {
  width: 60%;
  margin: auto;
  position: relative;

    h2 {
      margin-top: 15px;
      color: #fff;
      font-size: 22px;
      font-family: sans-serif;
      text-align: center;

      &.profile-form-title {
        color: #4d4d4d;
        font-size: 23px;
      }
    }
}