// media query variables
$xsm: 400px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1100px;
$xxl: 1400px;

// color variables (only colors which are repeated throughout the entire code are added)
$snow: #f9f9f9;
$dodger-blue: #007bff;
$white: #ffffff;
$black: #000000;
$cobalt: #0056b3;
$gray30: #4d4d4d;
$slateBlue: #7b68ee;
